div class="container" ng-controller="captchaFormCtrl">

<div><p>" "</p></div>

<form name="captchaForm" style="text-align:center" novalidate>

  <div>
    <h4>Enter Captcha Text: {{data}} </h4>
    <button class="button" ng-click="reset(captchaForm)">Refresh Captcha</button>

    <input type="text" placeholder="CAPTCHA" ng-model="captchaForm.captcha"
           ng-minlength="5" maxlength="5" size="5"style="text-transform:uppercase"><br/>
  </div>

  <div>
    <div class="check-element animate-show" ng-show="solved">
      <span class="glyphicon glyphicon-thumbs-up"></span> Hire Tim McKee railshead.mckee@gmail.com
    </div>
  </div>
  <br/>


  <button class="btn btn-primary" type="reset" ng-click="captchaForm.$setPristine()">Reset</button>
  <button type="submit" id="submit_button" class="btn btn-success btn-primary" ng-click="doSubmit(captchaForm)">
    Submit
  </button>
  <!-- tt>{{fluForm | json}}</tt><br/ -->
</form>





</div>